@using System.Web.Mvc.Html
@using HansKindberg.EPiServer.ModuleTemplate.Business
@inherits System.Web.Mvc.WebViewPage<HansKindberg.EPiServer.ModuleTemplate.Models.ViewModels.TemplateViewModel>
@{ Layout = Model.GetResourcePath("Views/Shared/_Layout.cshtml"); }
@section MainContent
{
	@if(Model.Tabs != null && Model.Tabs.Any())
	{
		<div class="epi-tabView">
			<ul class="epi-tabView-navigation">
				@foreach(var tab in Model.Tabs)
				{
					<li class="@(tab.Active ? "epi-tabView-navigation-item-selected" : "epi-tabView-navigation-item")"><a class="epi-tabView-tab" href="@tab.Url.PathAndQuery">@tab.LocalName</a></li>
				}
			</ul>
		</div>
		<div>
			<p>@Model.ActiveTab.LocalDescription</p>
		</div>
		if(Model.ActiveTab != null && Model.ActiveTab.TabType == TemplateTabType.Send)
		{
			Html.RenderPartial(Model.GetResourcePath("Views/Template/Send/Index.cshtml"), Model);
		}
		else
		{
			Html.RenderPartial(Model.GetResourcePath("Views/Template/Settings/Index.cshtml"), Model);
		}
	}
}