@inherits System.Web.Mvc.WebViewPage<HansKindberg.EPiServer.Modules.ModuleTemplate.Models.TemplateViewModel>
@{ Layout = Model.GetResourcePath("Views/Shared/_Layout.cshtml"); }
@section MainContent
{
	<p>From main-content</p>
	
	<table width="40%" class="epi-default">
		<tr>
			<th>
				Speglingsnamn
			</th>
			<th>
				Status
			</th>
			<th>
				Senaste exekvering
			</th>
			<th>
				Meddelande
			</th>
		</tr>
		<tr>
			<td>
				<a href="ContentMirroringServiceEdit.aspx?channel=f54a8dda-7912-4c74-b735-0b5fd14b8f8d">
					Test 1
				</a>
			</td>
			<td></td>
			<td></td>
			<td>
				<img src="/App_Themes/Default/Images/Tools/Clear.gif" />
			</td>
		</tr>
		<tr>
			<td>
				<a href="ContentMirroringServiceEdit.aspx?channel=0e698d45-feec-4119-a511-20a7c0cdf280">
					Test 2
				</a>
			</td>
			<td></td>
			<td></td>
			<td>
				<img src="/App_Themes/Default/Images/Tools/Clear.gif" />
			</td>
		</tr>
	</table>
}