_ReSharper*/
App_Data/
bin/
debug/
FakesAssemblies/
Logs/
EPiServer/Modules/_protected/**/*.zip
obj/
packages/*
Publish/*
release/
testresults/
*.suo
*.user
.nuget/NuGet.exe
EPiServer/Modules/_protected/repository.config

!packages/repositories.config
!Publish/ReadMe.txt