_ReSharper*/
App_Data/
bin/
debug/
EPiServer/Modules/*
EPiServer/modulesbin/
FakesAssemblies/
Logs/
obj/
packages/*
Publish/*
release/
testresults/
*.suo
*.user
.nuget/NuGet.exe
EPiServer/Modules/_protected/repository.config

!EPiServer/Modules/_protected/CMS/Web.config
!EPiServer/Modules/_protected/EPiServer.Packaging.UI/Web.config
!EPiServer/Modules/_protected/Shell/Web.config
!packages/repositories.config
!Publish/ReadMe.txt