<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="7.15.0.0">
	<assemblies>
		<add assembly="HansKindberg.EPiServer.Modules.ModuleTemplate" />
	</assemblies>
	<routes>
		<route url="{moduleArea}/{controller}/{action}">
			<defaults>
				<add key="moduleArea" value="HansKindberg.EPiServer.Modules.ModuleTemplate" />
				<add key="controller" value="" />
				<add key="action" value="Index" />
			</defaults>
		</route>
	</routes>
</module>