<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="episerver" type="EPiServer.Configuration.EPiServerSection, EPiServer.Configuration" />
		<section name="episerver.baseLibrary" allowDefinition="MachineToApplication" allowLocation="false" type="EPiServer.BaseLibrary.ConfigurationHandler, EPiServer.BaseLibrary" />
		<section name="episerver.framework" restartOnExternalChanges="true" type="EPiServer.Framework.Configuration.EPiServerFrameworkSection, EPiServer.Framework" />
		<section name="episerver.search" type="EPiServer.Search.Configuration.SearchSection, EPiServer.ApplicationModules" />
		<section name="episerver.shell" type="EPiServer.Shell.Configuration.EPiServerShellSection, EPiServer.Shell" />
	</configSections>
	<episerver>
		<applicationSettings
			httpCacheability="Public"
			pageValidateTemplate="false"
			uiShowGlobalizationUserInterface="true"
			uiUrl="~/EPiServer/CMS/"
			urlRebaseKind="ToRootRelative"
		/>
		<workflowSettings disable="true" />
	</episerver>
	<episerver.baseLibrary>
		<classFactories>
			<add id="ContentChannelFactory" type="EPiServer.Implementation.DefaultBaseLibraryFactory, EPiServer.Implementation">
				<register mappedType="EPiServer.ContentChannels.ContentChannelHandler, EPiServer" type="EPiServer.BaseLibrary.IContentChannelHandler, EPiServer" />
				<register mappedType="EPiServer.ContentChannels.ObjectStoreContentChannelAdministration, EPiServer" type="EPiServer.ContentChannels.ContentChannelAdministration, EPiServer" />
			</add>
			<add id="PropertyControlFactory" type="EPiServer.Core.PropertyControlClassFactory, EPiServer" />
		</classFactories>
	</episerver.baseLibrary>
	<episerver.framework>
		<appData basePath="App_Data" />
		<scanAssembly forceBinFolderScan="true" />
		<virtualPathProviders>
			<clear />
			<add name="ProtectedModules" physicalPath="Modules\_Protected" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" virtualPath="~/EPiServer/" />
		</virtualPathProviders>
		<virtualRoles addClaims="true">
			<providers>
				<add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
				<add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
				<add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
				<add name="CmsAdmins" mode="Any" roles="WebAdmins, Administrators" type="EPiServer.Security.MappedRole, EPiServer.Framework" />
				<add name="CmsEditors" mode="Any" roles="WebEditors" type="EPiServer.Security.MappedRole, EPiServer.Framework" />
				<add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
				<add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
			</providers>
		</virtualRoles>
	</episerver.framework>
	<episerver.search active="false">
		<namedIndexingServices defaultService="serviceName">
			<services>
				<add name="serviceName" accessKey="local" baseUri="Please insert the indexing search service endpoint here if the episerver.search is active. If local service is used pattern is http://sitehost/IndexingService/IndexingService.svc" />
			</services>
		</namedIndexingServices>
		<searchResultFilter defaultInclude="true">
			<providers />
		</searchResultFilter>
	</episerver.search>
	<episerver.shell>
		<protectedModules rootPath="~/EPiServer/" />
		<publicModules autoDiscovery="Modules" rootPath="~/modules/" />
	</episerver.shell>
	<location path=".">
		<system.web>
			<caching>
				<outputCacheSettings>
					<outputCacheProfiles>
						<add
							name="ClientResourceCache"
							duration="3600"
							enabled="true"
							varyByContentEncoding="gzip;deflate"
							varyByParam="*"
						/>
					</outputCacheProfiles>
				</outputCacheSettings>
			</caching>
			<compilation debug="true" targetFramework="4.5" />
			<globalization
				culture="en-US"
				requestEncoding="utf-8"
				resourceProviderFactoryType="EPiServer.Framework.Localization.LocalizationServiceResourceProviderFactory, EPiServer.Framework"
				responseEncoding="utf-8"
				uiCulture="en"
			/>
			<httpRuntime requestValidationMode="2.0" targetFramework="4.5" />
			<pages enableEventValidation="true" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validateRequest="false">
				<controls>
					<add assembly="EPiServer" namespace="EPiServer.Web.WebControls" tagPrefix="EPiServer" />
					<add assembly="EPiServer.Framework" namespace="EPiServer.Framework.Web.WebControls" tagPrefix="EPiServer" />
					<add assembly="EPiServer.Web.WebControls" namespace="EPiServer.Web.WebControls" tagPrefix="EPiServer" />
					<add assembly="EPiServer.XForms" namespace="EPiServer.XForms.WebControls" tagPrefix="XForms" />
				</controls>
				<namespaces>
					<add namespace="EPiServer.Framework.Web.Mvc.Html" />
					<add namespace="EPiServer.Shell.Web.Mvc.Html" />
					<add namespace="System.Collections.Generic" />
					<add namespace="System.Linq" />
					<add namespace="System.Web.Helpers" />
					<add namespace="System.Web.Mvc" />
					<add namespace="System.Web.Mvc.Ajax" />
					<add namespace="System.Web.Mvc.Html" />
					<add namespace="System.Web.Routing" />
					<add namespace="System.Web.WebPages" />
				</namespaces>
			</pages>
		</system.web>
		<system.webServer>
			<caching>
				<profiles>
					<add
						duration="0.00:01:00"
						extension=".css"
						kernelCachePolicy="CacheUntilChange"
						location="Any"
						policy="DontCache"
					/>
					<add
						duration="0.00:01:00"
						extension=".gif"
						kernelCachePolicy="CacheUntilChange"
						location="Any"
						policy="DontCache"
					/>
					<add
						duration="0.00:01:00"
						extension=".jpeg"
						kernelCachePolicy="CacheUntilChange"
						location="Any"
						policy="DontCache"
					/>
					<add
						duration="0.00:01:00"
						extension=".jpg"
						kernelCachePolicy="CacheUntilChange"
						location="Any"
						policy="DontCache"
					/>
					<add
						duration="0.00:01:00"
						extension=".js"
						kernelCachePolicy="CacheUntilChange"
						location="Any"
						policy="DontCache"
					/>
					<add
						duration="0.00:01:00"
						extension=".png"
						kernelCachePolicy="CacheUntilChange"
						location="Any"
						policy="DontCache"
					/>
				</profiles>
			</caching>
			<handlers>
				<add
					name="UrlRoutingHandler"
					path="UrlRouting.axd"
					preCondition="integratedMode"
					type="System.Web.HttpForbiddenHandler, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
					verb="*"
				/>
			</handlers>
			<modules runAllManagedModulesForAllRequests="true">
				<add name="InitializationModule" preCondition="managedHandler" type="EPiServer.Framework.Initialization.InitializationModule, EPiServer.Framework" />
				<add name="UrlRewriteModule" preCondition="managedHandler" type="EPiServer.Web.RoutingUrlRewriteModule, EPiServer" />
				<add name="ShellRoutingModule" type="EPiServer.Shell.Web.Routing.ShellRoutingModule, EPiServer.Shell" />
				<remove name="WebDAVModule" />
			</modules>
			<staticContent>
				<clientCache cacheControlMaxAge="1.00:00:00" cacheControlMode="UseMaxAge" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="EPiServer">
		<system.web>
			<authorization>
				<allow roles="WebEditors, WebAdmins, Administrators" />
				<deny users="*" />
			</authorization>
			<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
			<httpRuntime maxRequestLength="1000000" requestValidationMode="2.0" />
			<pages enableEventValidation="true" enableSessionState="true" enableViewState="true" enableViewStateMac="true">
				<controls>
					<add assembly="EPiServer" namespace="EPiServer.ClientScript.WebControls" tagPrefix="EPiServerScript" />
					<add assembly="EPiServer.UI" namespace="EPiServer.UI.ClientScript.WebControls" tagPrefix="EPiServerScript" />
					<add assembly="EPiServer.UI" namespace="EPiServer.UI.WebControls" tagPrefix="EPiServerUI" />
				</controls>
			</pages>
		</system.web>
		<system.webServer>
			<handlers>
				<clear />
				<add
					name="AssemblyResourceLoader-Integrated-4.0"
					path="WebResource.axd"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.Handlers.AssemblyResourceLoader"
					verb="GET,DEBUG"
				/>
				<add
					name="PageHandlerFactory-Integrated-4.0"
					path="*.aspx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.UI.PageHandlerFactory"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="SimpleHandlerFactory-Integrated-4.0"
					path="*.ashx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.UI.SimpleHandlerFactory"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="WebServiceHandlerFactory-Integrated-4.0"
					path="*.asmx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="svc-Integrated-4.0"
					path="*.svc"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					verb="*"
				/>
				<add name="wildcard" path="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework" verb="*" />
			</handlers>
		</system.webServer>
	</location>
	<location path="EPiServer/CMS/admin">
		<system.web>
			<authorization>
				<allow roles="WebAdmins, Administrators" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Modules/_Protected">
		<system.webServer>
			<handlers>
				<clear />
				<add
					name="BlockDirectAccessToProtectedModules"
					path="*"
					preCondition="integratedMode"
					type="System.Web.HttpNotFoundHandler"
					verb="*"
				/>
			</handlers>
			<validation validateIntegratedModeConfiguration="false" />
		</system.webServer>
	</location>
	<location path="modulesbin">
		<system.web>
			<authorization>
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="util">
		<system.web>
			<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
			<pages enableEventValidation="true">
				<controls>
					<add assembly="EPiServer" namespace="EPiServer.ClientScript.WebControls" tagPrefix="EPiServerScript" />
					<add assembly="EPiServer.UI" namespace="EPiServer.UI.WebControls" tagPrefix="EPiServerUI" />
				</controls>
			</pages>
		</system.web>
		<system.webServer>
			<handlers>
				<clear />
				<add
					name="AssemblyResourceLoader-Integrated-4.0"
					path="WebResource.axd"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.Handlers.AssemblyResourceLoader"
					verb="GET,DEBUG"
				/>
				<add
					name="PageHandlerFactory-Integrated-4.0"
					path="*.aspx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.UI.PageHandlerFactory"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="SimpleHandlerFactory-Integrated-4.0"
					path="*.ashx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.UI.SimpleHandlerFactory"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="WebServiceHandlerFactory-Integrated-4.0"
					path="*.asmx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add name="wildcard" path="*" type="EPiServer.Web.StaticFileHandler, EPiServer.Framework" verb="*" />
			</handlers>
		</system.webServer>
	</location>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" culture="neutral" publicKeyToken="407dd0808d44fbdc" />
				<bindingRedirect newVersion="3.3.0.0" oldVersion="0.0.0.0-3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Windsor" culture="neutral" publicKeyToken="407dd0808d44fbdc" />
				<bindingRedirect newVersion="3.3.0.0" oldVersion="0.0.0.0-3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.ApplicationModules" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.BaseLibrary" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Configuration" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Data" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Data.Cache" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Enterprise" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Events" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Framework" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.ImageLibrary" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Implementation" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Licensing" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.LinkAnalyzer" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Shell" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Web.WebControls" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.WorkflowFoundation" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.XForms" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="7.14.2.0" oldVersion="0.0.0.0-7.14.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="3.0.0.0" oldVersion="1.0.0.0-3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="5.2.2.0" oldVersion="0.0.0.0-5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="3.0.0.0" oldVersion="0.0.0.0-3.0.0.0" />
			</dependentAssembly>
			<probing privatePath="modulesbin" />
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
</configuration>