@inherits System.Web.Mvc.WebViewPage<HansKindberg.EPiServer.ModuleTemplate.Models.ViewModels.TemplateViewModel>
<div id="FullRegion_MainRegion_TabView">
	<div id="FullRegion_MainRegion_GeneralSettings" style="display: block;">
		<div class="epi-formArea epi-padding">
			<div class="epi-size15">
				<div class="epi-indent">
					<input id="FullRegion_MainRegion_isActiveInput" type="checkbox" name="ctl00$FullRegion$MainRegion$isActiveInput" onclick=" javascript:setTimeout( &  # 39;__doPostBack(\ &  # 39;ctl00$FullRegion$MainRegion$isActiveInput\ &  # 39;,\ &  # 39;\ &  # 39;)&# 39;, 0) " />
					<label for="FullRegion_MainRegion_isActiveInput">Active</label>
				</div>
				<div>
					<label for="FullRegion_MainRegion_frequencyInput">Scheduled job interval</label>
					<input name="ctl00$FullRegion$MainRegion$frequencyInput" type="text" id="FullRegion_MainRegion_frequencyInput" disabled="disabled" class="epi-tabView-navigation-item-disabled EP-requiredField" />
					<select name="ctl00$FullRegion$MainRegion$recurrenceInput" id="FullRegion_MainRegion_recurrenceInput" disabled="disabled" class="epi-tabView-navigation-item-disabled">
						<option value="7">second</option>
						<option value="6">minute</option>
						<option value="5">hour</option>
						<option selected="selected" value="4">day</option>
						<option value="3">week</option>
						<option value="2">month</option>
					</select>
					<span id="FullRegion_MainRegion_frequencyInputRange" style="visibility: hidden;">*</span>
					<span id="FullRegion_MainRegion_frequencyInputRequired" style="visibility: hidden;">*</span>
					<span id="FullRegion_MainRegion_recurrenceInputRequired" style="visibility: hidden;">*</span>
				</div>
				<div>
					<label for="FullRegion_MainRegion_nextExecutionInput">Next scheduled date</label>
					<div id="FullRegion_MainRegion_nextExecutionInput" disabled="disabled" class="epi-tabView-navigation-item-disabled" class="epiinputdate" style="display: inline;">
						<input name="ctl00$FullRegion$MainRegion$nextExecutionInput$innerInputControl" type="text" value="2014-10-23 00:00" maxlength="20" size="20" id="FullRegion_MainRegion_nextExecutionInput_innerInputControl" disabled="disabled" class="epi-tabView-navigation-item-disabled episize240" style="display: inline;" />&nbsp;<input name="ctl00$FullRegion$MainRegion$nextExecutionInput$ctl00" type="button" value="..." class="epismallbutton" onclick=" EPi.CreateDateBrowserDialog( &  # 39;/EPiServer/CMS / edit / DateBrowser.aspx ? notime = false & amp;buttons = true &  # 39;, &# 39;FullRegion_MainRegion_nextExecutionInput_innerInputControl &  # 39;, null, true); " disabled="disabled" />
					</div>
				</div>
			</div>
		</div>
		<div class="epi-buttonContainer">
			<span class="epi-cmsButton"><input class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-Save" type="submit" name="ctl00$FullRegion$MainRegion$saveChanges" id="FullRegion_MainRegion_saveChanges" value="Save" title="Save" onmouseover=" EPi.ToolButton.MouseDownHandler(this) " onmouseout=" EPi.ToolButton.ResetMouseDownHandler(this) " onclick=" WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions( & quot;ctl00$FullRegion$MainRegion$saveChanges & quot;, &quot;&quot;, true,  &quot;&quot;, &quot;&quot;, false, false)) " /></span><span class="epi-cmsButton"><input class="epi-cmsButton-text epi-cmsButton-tools epi-cmsButton-MySettings" type="submit" name="ctl00$FullRegion$MainRegion$startNowButton" id="FullRegion_MainRegion_startNowButton" value="Start Manually" title="Start Manually" onmouseover=" EPi.ToolButton.MouseDownHandler(this) " onmouseout=" EPi.ToolButton.ResetMouseDownHandler(this) " /></span>
		</div>
	</div>
</div>